language: node_js
node_js:
  - "14"
  - "12"
  - "10"

cache:
  yarn: true
  directories:
    - node_modules

if: branch = master OR branch =~ ^next- OR branch =~ ^fix-v\d+\. OR tag =~ ^v\d+\.

script:
  - yarn prebuild
  - yarn build
  - yarn test --maxWorkers=4
  - yarn e2e --maxWorkers=4

after_success:
  - if [[ $(node --version) == "v14."* ]]; then yarn coverage; fi

stages:
  - test
  - publish documentation
  - deploy

jobs:
  include:
    - stage: test
      env: STEP=FORMAT_LINT
      script:
        - yarn format:check
        - yarn lint:check
    - stage: test
      env: STEP=EXAMPLES_ROLLUP_LEGACY_TYPES_DOCS
      script:
        - PROJECT_ROOT_PATH="$(pwd)"
        - yarn build:prod
        - yarn docs
        - yarn test:rollup-esm
        # Instead of linking on ., we pack the package as if it was released on npm registry
        # then we link towards this version (no devDependencies installed, no unpublished files available...).
        - yarn pack && mkdir -p bundle && tar -C bundle -zxvf package.tgz && cd bundle/package && yarn workspaces focus --all --production && ls -l node_modules && yarn link
        - cd "$PROJECT_ROOT_PATH"
        - ls -l ~/.config/yarn/link 2> /dev/null || echo "no-op"
        - ls -l ~/AppData/Local/Yarn/Data/link 2> /dev/null || echo "no-op"
        - cd example && yarn --immutable && yarn link "fast-check" && yarn test
        - cd "$PROJECT_ROOT_PATH"
        - cd test/type && yarn --immutable && yarn link "fast-check" && yarn test
        - cd "$PROJECT_ROOT_PATH"
        - cd test/legacy/typescript-3.2 && yarn --immutable && yarn link "fast-check" && yarn build
        - cd "$PROJECT_ROOT_PATH"
        - nvm install 8 ;
          node --version ;
          node test/legacy/main.js
    - stage: test
      env: STEP=COMMONJS_ESM
      script:
        - yarn build:prod
        - yarn link
        - cd test/esm
        # Node >=13.2.0 enables support for ES modules by default
        # Our default version of node is above 13.2.0
        - node --version
        - sh run.sh
        # Node 12.x and >=12.18 enables support for ES modules by default
        - nvm install 12.18
        - node --version
        - sh run.sh
        # Node <12.18 requires a flag to support ES modules but can understand them
        - nvm install 12.17
        - node --version
        - sh run.sh
        # Node 10 does not understand ES modules
        - nvm install 10
        - node --version
        - sh run.sh
    - stage: publish documentation
      if: branch = master AND type = push
      script:
        - yarn prebuild
        - yarn build:publish-types
        - yarn docs
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: "$GITHUB_TOKEN"
        target-branch: gh-pages
        local-dir: docs
        on:
          branch: master
    - stage: deploy
      if: tag =~ ^v\d+\.
      script:
        - yarn build:prod
      deploy:
        provider: npm
        edge: true
        cleanup: false
        email: npm@dubien.org
        api_token:
          secure: uh9D3ESY6ea+sVoe5NhhilSSw9qM6UGO0uiDLya0Bu96O30yqkTHKWVcxBADWmQTpC39uapq1g7pQ/ybiTlhuWymL2dcsJyGgCDSgBA5LXkAhgt+0j1JbWQRajAt9N1+RPXWMaGMdWOJnl6v5qrzR+9WgXUlo3zjulMtGMPYjkN22cUdFLKl4jEadwcAJJvKVXvS9LbWeD/g46TopPOgIAEn008EySzpBtpBHa2O0pWH6yCpHLqhk0vUz7ltIjO3khxD6EcrvcPjdIMI9swc8JIvXn4LK24z0mjzLaQOwlrjSbkPQ7Kf172lKOX2DC1hQQHYRGIPw2ln3KGMRwhTUayErjB1uM6x9l0eGmESzmVEsizjb5DbAnh+j/UWG+lEelxbp+PmTm0b1goF3Lmc6eK5IGkaa212UX4+zjK06Gkyu/c9nfeT2v3GPMlNTQoDWMFZvMuk6d+QVHXBlkh6zBdQ5NWoCz+fBegVD6wK24Lf1+HH83T3jk7OWcvNpru9B3D2L/u6LTHF2C/Ij01HWcvtavlRaJo1JJYbsysM9zxLydMR2BrwzQkoPLXoqj5Ambk8NoSPAARp63h82YRkJwAygqHhbaNgofOTy8iqLmZXqfQPXH7/0DGh4E0QXcdhcRuhZC315LARZAbJ0RVhc2wFJ+EqFYPJEeAFbKT5x28=
        on:
          tags: true
