language: node_js
node_js:
  - "12"
  - "10"
  - "8"

cache:
  yarn: true
  directories:
    - node_modules

if: branch = master OR branch =~ ^next- OR branch =~ ^fix-v\d+\. OR tag =~ ^v\d+\.

before_install:
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn=1.19.1-1

script:
  - yarn prebuild
  - yarn build
  - yarn test --maxWorkers=4
  - yarn e2e --maxWorkers=4

after_success:
  - if [[ $(node --version) == "v12."* ]]; then yarn coverage; fi

stages:
  - test
  - publish documentation
  - deploy

jobs:
  include:
    - stage: test
      env: STEP=FORMAT_LINT
      script:
        - yarn format:check
        - yarn lint:check
    - stage: test
      env: STEP=EXAMPLES_ROLLUP_TYPES
      script:
        - yarn build:prod
        - yarn link
        - cd example ;
          yarn --ignore-engines ;
          yarn link "fast-check" ;
          yarn test ;
          cd ..
        - yarn test:rollup-esm
        - yarn test:rollup-iife
        - yarn test:type
    - stage: test
      env: STEP=HEAD
      script:
        - nvm install node
        - node --version
        - yarn prebuild
        - yarn build
        - yarn test --maxWorkers=4
        - yarn e2e --maxWorkers=4
    - stage: publish documentation
      if: branch = master AND type = push
      script:
        - yarn prebuild
        - yarn build:publish-types
        - yarn docs
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN
        target-branch: gh-pages
        local-dir: docs
        on:
          branch: master
    - stage: deploy
      if: tag =~ ^v\d+\.
      script:
        - yarn build:prod
      deploy:
        provider: npm
        email: npm@dubien.org
        skip_cleanup: true
        api_key:
          secure: GizKIQllRzN5PJ00VsmLgT4HFxrufIkrWHj+kjW7FIxWBvBu/ii02DV3+DHcIKOc082wCJ3MAJjpU098oOG4omKl0D36COIl92JP1L0hz5D0ZTshCnUsd0YXHcYYtjDEU0hK6iHoEETQl1+ejncqkoXyJFd9XmdT8vnXLvbUDvNpFmIFFFOVJ6aZX3nj2irgLHutC8cspYzjCs8OqRm1gftd5JhaOMfE6NgjiX5AHI8NJ8zHWYShb2vMpOG/ajzCrfMISvtsvU4Wa2K0cYhW9CkO7WAqSG/jFF6ZxDqzfch0SH+fZBu9u8iIk0GUwtEhv0SURFD0nJqLCN4AjGH0HkRXA6b8GCBD7ZRpnbmTKoB/HRROzEAvErqtWGO0qWZ8lF4U47i5rNCYC4DW/WB776MWsEDy0XQDcYRSfiLsVy544lsKjBXhziFWSqx2gL5GwAQiCUVKqZVZ9ouAZGcANzyq1v28tN38WsjMAjI96rcWaWeeY14zQ92NHhPLbFJUg/8F7Ddn2aRLp3JSyxVm+YubFHOl15oF0ZO6FjHkLhklse5o0seqljBkSrZwd6f/RV99+ziAAm8wenfODae/qrgVwS02CttsHOGlWTpjTbU96iAa8FiCpN9yWa9LYf+QNG5Dhjgm69WTVjA0SWkPA3PA4vI5uxUsnBCtBPawEVo=
        on:
          tags: true
      repo: dubzzz/fast-check
