.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  fill: var(--fc-banner-background-color);
}

.featureName {
  font-size: 1.3em;
  font-weight: bold;
}
