.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.allFeatureCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .allFeatureCards {
    grid-template-columns: 100%;
  }
  .featureCard {
    flex-direction: row;
  }
}

.featureSvg {
  fill: var(--fc-banner-background-color);
}

.featureName {
  font-size: 1.3em;
  font-weight: bold;
}
