.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--fc-banner-background-color);
}

.mainTitle {
  margin-bottom: 0px;
}

.mainTitleLogo {
  max-width: '100%';
  width: auto;
  height: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.subTitle {
  margin-bottom: 1.25rem;
}

.subTitle .taglineBadges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2em;
}

.subTitle .taglineBadges a {
  line-height: 20px;
}

.quickNavigationButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.25rem;
}

@media screen and (max-width: 996px) {
  .quickNavigationButtons {
    flex-direction: column;
  }
}

.adventButton {
  background-color: rgb(255, 150, 150);
  border-color: rgb(255, 170, 170);
}

.adventButton:hover {
  background-color: rgb(255, 31, 31);
}
