name: Deploy Documentation to Netlify

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number'
        required: true
        type: string

permissions:
  contents: read
  pull-requests: write

jobs:
  build_documentation:
    name: 'Build documentation'
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo Hello
