name: Deploy Documentation to Netlify

on:
  workflow_call:

permissions:
  contents: read
  pull-requests: write

jobs:
  build_documentation:
    name: 'Build documentation'
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "Hello"
