name: Generate Changelog

on: workflow_dispatch

permissions:
  contents: read

jobs:
  generate_changelog:
    name: 'Generate Changelog'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Configure GIT
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Generate Changelog
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const {run} = require('./.github/workflows/scripts/generate-changelog.cjs');
            const {branchName, commitName, content, errors, changelogs} = await run();
            const owner = context.payload.repository.owner.login;
            const repo = context.payload.repository.name;
            const title = commitName;
            const head = branchName;
            const base = 'main';
            const bodyChangelogs = changelogs.map(c => `- ${c}`).join('\n');
            const bodyErrors = errors.length !== 0 ? `Got the following errors:\n${errors.map(e => `- ${e}`).join('\n')}` : '';
            const body = `Resulting CHANGELOG at:\n${bodyChangelogs}\n\n${bodyErrors}`
            await github.rest.pulls.create({owner, repo, title, head, base, body});
