name: Please Actions

on:
  issue_comment:
    types:
      - created

jobs:
  please_deploy:
    name: 'Please deploy'
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && github.event.comment.body == 'please deploy'
    steps:
      - name: Check comment
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Check admin rights
            const levelResponse = await github.rest.repos.getCollaboratorPermissionLevel({ ...context.repo, username: context.actor });
            if (levelResponse.data.permission !== 'admin') {
              core.setFailed('"please deploy" can only be executed by an admin user');
            }
            // Add reaction to the comment
            const comment = context.payload.comment;
            await github.rest.reactions.createForIssueComment({ ...context.repo, comment_id: comment.id, content: 'rocket' });
      - uses: actions/checkout@v2.4.0
      - name: Checkout Pull Request
        run: hub pr checkout "${{github.event.issue.number}}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Using Node v16.x
        uses: actions/setup-node@v2.5.0
        with:
          node-version: '16.x'
      - name: Install fast-check dependencies
        run: yarn --frozen-lockfile
      - name: Build package
        run: yarn build:prod-ci
      - name: Generate documentation
        run: yarn docs-ci
      - name: Generate bundle
        run: |
          yarn pack
          mv fast-check-*.tgz docs/fast-check.tgz
      - name: Install deploy-netlify dependencies
        run: |
          cd ./.github/actions/deploy-netlify
          yarn --frozen-lockfile
      - name: Deploy on Netlify
        uses: ./.github/actions/deploy-netlify
        env:
          NETLIFY_SITE_ID: ${{secrets.NETLIFY_APP_ID}}
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}

  please_merge:
    name: "Please merge"
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && github.event.comment.body == 'please merge'
    steps:
      - name: Check comment
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Check admin rights
            const levelResponse = await github.rest.repos.getCollaboratorPermissionLevel({ ...context.repo, username: context.actor });
            if (levelResponse.data.permission !== 'admin') {
              core.setFailed('"please merge" can only be executed by an admin user');
            }
            // Add reaction to the comment
            const comment = context.payload.comment;
            await github.rest.reactions.createForIssueComment({ ...context.repo, comment_id: comment.id, content: '+1' });
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: Checkout Pull Request
        run: hub pr checkout "${{github.event.issue.number}}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Configure GIT
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Merge BASE_REF into current PR
        run: |
          export BASE_REF=$(hub api repos/gopigment/monorepo/pulls/${{github.event.issue.number}} | jq ".base.ref" --raw-output)
          echo "BASE_REF is: ${BASE_REF}"
          git pull --no-rebase origin "${BASE_REF}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Push
        run: git push

  please_debug:
    name: "Please debug"
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && github.event.comment.body == 'please debug'
    steps:
      - name: Check comment
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Add reaction to the comment
            const comment = context.payload.comment;
            await github.rest.reactions.createForIssueComment({ ...context.repo, comment_id: comment.id, content: '+1' });
      - name: Dump context accessible from github-script
        uses: actions/github-script@v5
        with:
          script: console.log(JSON.stringify(context, undefined, 2));
