name: Safe Release

on:
  pull_request:
    branches:
      - main
      - 'next-*_*_*'
      - 'fix-v*'
    paths:
      - '**/CHANGELOG.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  safe_release:
    name: 'Safe release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Check no package from workspace
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        with:
          script: |
            const { promises: { readFile } } = require('fs');
            const globber = await glob.create('**/package.json');
            const files = await globber.glob();
            for (const file of files) {
              const fileContentRaw = await readFile(file);
              const fileContent = JSON.parse(fileContentRaw.toString());
              if (fileContent.private) {
                continue;
              }
              for (const depVersion of Object.values(fileContent.dependencies || {})) {
                if (depVersion.startsWith('workspace:')) {
                  throw new Error(`Dependencies cannot start by workspace at release time, got: ${depVersion} in ${file}`);
                }
              }
              for (const depVersion of Object.values(fileContent.peerDependencies || {})) {
                if (depVersion.startsWith('workspace:')) {
                  throw new Error(`Peer-Dependencies cannot start by workspace at release time, got: ${depVersion} in ${file}`);
                }
              }
            }
